@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
table{
  text-align: left;
}
th {
  background-color:  #333;  
  cursor: pointer;
}
th, td{
  padding: 4px;
}